SpecTracker.WPF/Service References/ProjectService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpecTracker.Core.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpecTracker.Core.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AuditableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecificationItems" nillable="true" type="tns:ArrayOfSpecificationItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="AuditableObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Updated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditableObject" nillable="true" type="tns:AuditableObject" />
  <xs:complexType name="ArrayOfSpecificationItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecificationItem" nillable="true" type="tns:SpecificationItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecificationItem" nillable="true" type="tns:ArrayOfSpecificationItem" />
  <xs:complexType name="SpecificationItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AuditableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Priority" type="xs:int" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecificationItem" nillable="true" type="tns:SpecificationItem" />
</xs:schema>