SpecTracker.WPF/Service References/ProjectService/ProjectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProjectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SpecTracker.Core.Service/ProjectService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SpecTracker.Core.Service/ProjectService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SpecTracker.Core.Service/ProjectService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpecTracker.Core.DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProjectService_ListProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:ListProjects" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ListProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_LoadProject_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_LoadProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SaveProject_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SaveProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_RemoveProject_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_RemoveProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IProjectService">
    <wsdl:operation name="ListProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/ListProjects" message="tns:IProjectService_ListProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/ListProjectsResponse" message="tns:IProjectService_ListProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/LoadProject" message="tns:IProjectService_LoadProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/LoadProjectResponse" message="tns:IProjectService_LoadProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/SaveProject" message="tns:IProjectService_SaveProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/SaveProjectResponse" message="tns:IProjectService_SaveProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/RemoveProject" message="tns:IProjectService_RemoveProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/RemoveProjectResponse" message="tns:IProjectService_RemoveProject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProjectService" type="tns:IProjectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListProjects">
      <soap:operation soapAction="http://tempuri.org/IProjectService/ListProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/LoadProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/SaveProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/RemoveProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProjectService">
    <wsdl:port name="BasicHttpBinding_IProjectService" binding="tns:BasicHttpBinding_IProjectService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SpecTracker.Core.Service/ProjectService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>